/* Basic styles for the layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282c34;
    padding: 10px 0;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    text-align: center;
}

.highlighted-projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    margin: 10px;
    width: 200px;
    text-decoration: none; /* Remove underline from project links */
    color: inherit; /* Inherit text color */
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project h2 {
    margin: 10px 0 0;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .highlighted-projects {
        flex-direction: column;
        align-items: center;
    }
}
